@{
    ViewData["Title"] = "Admin View";
}
<div class="row mt-4">
    <div class="col">
        <h2 class="m-0 small-caps">Tags</h2>
        <hr class="border-2" />
    </div>
</div>

<div class="row">
    <div class="col">
        <a class="btn btn-primary rounded-1 border-2 border-primary-subtle" asp-action="ManageTags" asp-controller="Admin"><i class="bi bi-tools"></i> Manage Tags </a>
    </div>
</div>


