@model BlogPost

<div class="row">
    <div class="col">

        <div class="bg-dark p-0 border border-5 border-dark rounded-2 rounded-bottom-0"></div>

        <div class="p-2 border border-1 border-top-0 border-dark">
            <div class="card-title">
                <h3 class="fs-5 text-break ">@Model.Title</h3>
            </div>
            <div class="card-subtitle">
                <small class="d-block">@Model.PostedOn.ToString("MMMM dd, yyyy")</small>
            </div>

            <div class="overflow-y-auto" style="max-height:30px;min-height:30px;">
                @{
                    if (Model.Tags != null)
                    {
                        for (int i = 0; i < Model.Tags.Count; i++)
                        {
                            <a class="link-secondary link-offset-3-hover" href="#">@Model.Tags[i].TagName</a>
                        }
                    }
                }

            </div>

        </div>
    </div>
</div>
<div class="row justify-content-end">
    <div class="col-2 text-end">
        <a class="btn btn-sm btn-primary text-white rounded-0 w-100 border-1 border-dark-subtle border-top-0" asp-action="Index" asp-controller="Blog" asp-route-blogPostId ="@Model.Id">Read More</a>
    </div>
</div>