@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="row justify-content-center mt-4">
    <div class="col-sm-9 col-md-5 col-lg-4 col-xl-3 border border-3 rounded-2 border-dark-subtle pt-3 px-3 bg-primary-subtle bg-gradient">

        <form id="forgotPasswordForm" method="post">

            <div class="mb-3">
                <h2>Forgot Password</h2>
                <hr />
                <p>Did you happen to forget your password? Type in your email associated with your account. We will send a link to reset your password to the provided email.</p>
            </div>

            <div class="mb-3">
                <label asp-for="Input.Email" class="col-form-label"></label>
                <input class="form-control form-control-sm" asp-for="Input.Email" />
                <span class="text-warning-emphasis" asp-validation-for="Input.Email"></span>
            </div>

            <div class="row justify-content-center mb-3">
                <div class="col-7">
                    <button class="btn btn-sm btn-primary w-100" type="submit">Reset Password</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
