@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="row justify-content-center mt-4">
    <div class="col-sm-9 col-md-5 col-lg-4 col-xl-3 pt-3 px-3">
        <div class="row border border-2 border-dark">
            <h2 class="p-1 ps-2 bg-dark text-white small-caps mb-0 fs-4">Reset Password</h2>
            <div class="col">
                <form id="loginForm" method="post">
                    

                    <p class="mt-2">Did you happen to forget your password? Type in your email associated with your account. We will send a link to reset your password to the provided email.</p>
                    <span class="text-muted d-block mt-1"><span class="text-danger">*</span> indicates a required field</span>
                    <div class="mb-3">
                        <label asp-for="Input.Email" class="col-form-label"></label><span class="text-danger">*</span>
                        <input class="form-control form-control-sm" asp-for="Input.Email" />
                        <span class="text-warning" asp-validation-for="Input.Email"></span>
                    </div>

                    <div class="row justify-content-center mb-3">
                        <div class="col-7">
                            <button class="btn btn-primary w-100" type="submit">Reset Password</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
