@page
@model RegisterModel
@{
    ViewData["Title"] = "Sign Up";
}

<div class="row justify-content-center mt-4">
    <div class="col-sm-9 col-md-5 col-lg-4 col-xl-3 pt-3 px-3">
        <div class="row border border-2 border-dark">
            <h2 class="p-1 ps-2 bg-dark text-white small-caps mb-0 fs-4">Sign Up</h2>
            <div class="col">
                <form id="registerForm" method="post">
                    <span class="text-muted d-block mt-1"><span class="text-danger">*</span> indicates a required field</span>
                    <div class="text-warning mt-2" asp-validation-summary="All"></div>

                    <div class="mb-3">
                        <label asp-for="Input.Username" class="col-form-label"></label><span class="text-danger">*</span>
                        <input class="form-control form-control-sm" asp-for="Input.Username" />
                        @*<span class="text-warning-emphasis" asp-validation-for="Input.Username"></span>*@
                    </div>

                    <div class="mb-3">
                        <label asp-for="Input.Password" class="col-form-label"></label><span class="text-danger">*</span>
                        <input class="form-control form-control-sm" asp-for="Input.Password" />
                        @*<span class="text-warning-emphasis" asp-validation-for="Input.Password"></span>*@
                    </div>

                    <div class="mb-3">
                        <label asp-for="Input.ConfirmPassword" class="col-form-label"></label><span class="text-danger">*</span>
                        <input class="form-control form-control-sm" asp-for="Input.ConfirmPassword" />
                        @*<span class="text-warning-emphasis" asp-validation-for="Input.ConfirmPassword"></span>*@
                    </div>

                    <div class="mb-3">
                        <label asp-for="Input.Email" class="col-form-label"></label><span class="text-danger">*</span>
                        <input class="form-control form-control-sm" asp-for="Input.Email" />
                        @*<span class="text-warning-emphasis" asp-validation-for="Input.Email"></span>*@
                    </div>
                    <div class="row justify-content-center mb-3">
                        <div class="col-5">
                            <button class="btn btn-primary w-100" type="submit">Sign Up</button>
                        </div>
                    </div>

                </form>

                <hr />
                <div class="mb-2 text-center">
                    <a asp-area="Identity" asp-page="/Account/Login">Already have an account?</a>
                </div>
                <div class="mb-3 text-center">
                    <a asp-area="Identity" asp-page="/Account/ForgotPassword">Forgot password?</a>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
