<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mirage - @ViewData["Title"]</title>
    
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-light d-flex flex-column min-vh-100">

    <nav class="navbar navbar-expand-md bg-dark border-bottom border-2 border-dark-subtle sticky-top text-white navbar-dark">
        <div class="container">
            <a class="navbar-brand text-white" asp-action="Index" asp-controller="Home"><img width="75px" src="~/logo_white.png" /> Eminence</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="main-nav" class="collapse navbar-collapse row">


                <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
                    <div class="row text-center">
                        <div class="col-sm-12 col-md-3 col-lg-1 mb-1 mb-md-0">
                            <a asp-action="Index" asp-controller="Home" class="nav-link">Blog</a>
                        </div>

                        <!-- Products Dropdown -Start- -->
                        <div class="col-sm-12 col-md-3 col-lg-1 me-lg-5 dropdown d-none d-sm-none d-md-block">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Products</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Discord Bot</a></li>
                                <li><a class="dropdown-item" href="#">YouTube Video Downloader</a></li>

                            </ul>
                        </div>
                        <!-- Products Dropdown -End- -->
                        <!-- Products Collapse -Start- -->
                        <div class="col-sm-12 d-block d-md-none mb-1 mb-md-0">
                            <a class="nav-link" role="button" href="#products" data-bs-toggle="collapse">Products <i class="bi bi-chevron-down"></i></a>
                            <div id="products" class="collapse">
                                <a class="dropdown-item" href="#">Discord Bot</a>
                                <a class="dropdown-item" href="#">YouTube Video Downloader</a>
                            </div>
                        </div>
                        <!-- Products Collapse -End- -->
                        <div class="col-sm-12 col-md-3 col-lg-1 mb-1 mb-md-0">
                            <a asp-action="Index" asp-controller="Contact" class="nav-link">Contact</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top border-2 border-dark-subtle bg-dark text-white mt-auto" style="min-height:50px">
        <div class="container">
            <div class="row">
                <div class="col">
                    &copy; 2023 - Eminence - <a class="link-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </div>
            
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
