@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<div class="row justify-content-end text-center text-md-end">
   
@{
    if (SignInManager.IsSignedIn(User))
    {
        <div class="">
                <p>Signed In as @UserManager.GetUserName(User)</p>
                <form class="form-inline" method="post">
                    <a class="btn btn-primary rounded-0 text-white" id="logout" asp-controller="Logout" asp-action="Logout">Logout</a>
                </form>
        </div>
    }
    else
    {
        <div class="">
            <a class="btn btn-secondary rounded-1 border-2 border-secondary-subtle text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            <a class="btn btn-primary rounded-1 border-2 border-primary-subtle" id="register" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
        </div>
    }
}

</div>
