
<nav>
    <div class="row">
        <div class="col pe-0">
            <div class="mt-3">
                <h5 class="small-caps">Blogs</h5>
                <hr class="border-2" />
            </div>
            
        </div>
    </div>
    <div class="row mb-1">
        <div class="col pe-0">
            <a class="p-2 text-start d-block nav-link bg-secondary text-white" data-bs-toggle="collapse" href="#2023">2023</a>
            <div id="2023" class="collapse">
                <a class="btn text-end btn-sm d-block">January <span class="badge bg-info">5</span></a>
                <a class="btn text-end btn-sm d-block">January <span class="badge bg-info">5</span></a>
                <a class="btn text-end btn-sm d-block">January <span class="badge bg-info">5</span></a>
                <a class="btn text-end btn-sm d-block">January <span class="badge bg-info">5</span></a>
                <a class="btn text-end btn-sm d-block">January <span class="badge bg-info">5</span></a>
                <a class="btn text-end btn-sm d-block">January <span class="badge bg-info">5</span></a>
                <a class="btn text-end btn-sm d-block">January <span class="badge bg-info">5</span></a>
                <a class="btn text-end btn-sm d-block">January <span class="badge bg-info">5</span></a>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col pe-0">
            <a class="p-2 text-start d-block nav-link bg-secondary text-white" data-bs-toggle="collapse" href="#2022">2022</a>
            <div id="2022" class="collapse">
                <a class="btn text-end btn-sm d-block">January <span class="badge bg-info">5</span></a>
                <a class="btn text-end btn-sm d-block">January <span class="badge bg-info">5</span></a>
                <a class="btn text-end btn-sm d-block">January <span class="badge bg-info">5</span></a>
                <a class="btn text-end btn-sm d-block">January <span class="badge bg-info">5</span></a>
                <a class="btn text-end btn-sm d-block">January <span class="badge bg-info">5</span></a>
                <a class="btn text-end btn-sm d-block">January <span class="badge bg-info">5</span></a>
                <a class="btn text-end btn-sm d-block">January <span class="badge bg-info">5</span></a>
                <a class="btn text-end btn-sm d-block">January <span class="badge bg-info">5</span></a>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col pe-0">
            <a class="p-2 text-start d-block nav-link bg-secondary text-white" data-bs-toggle="collapse" href="#2021">2021</a>
            <div id="2021" class="collapse">
                <a class="btn text-end btn-sm d-block">January <span class="badge bg-info">5</span></a>
                <a class="btn text-end btn-sm d-block">January <span class="badge bg-info">5</span></a>
                <a class="btn text-end btn-sm d-block">January <span class="badge bg-info">5</span></a>
                <a class="btn text-end btn-sm d-block">January <span class="badge bg-info">5</span></a>
                <a class="btn text-end btn-sm d-block">January <span class="badge bg-info">5</span></a>
                <a class="btn text-end btn-sm d-block">January <span class="badge bg-info">5</span></a>
                <a class="btn text-end btn-sm d-block">January <span class="badge bg-info">5</span></a>
                <a class="btn text-end btn-sm d-block">January <span class="badge bg-info">5</span></a>
            </div>
        </div>
    </div>

   
</nav>