<div class="row">
    <div class="col">
        <h2 class="m-0 small-caps text-break">This is awkward...</h2>
        <hr class="border-2" />
    </div>
</div>

<div class="row">
    <div class="col">
        <p class="bg-danger text-white ps-2">Something went terribly wrong on our end. Please try again later.</p>
    </div>
</div>