
<div class="row mt-2">

    <div class="col bg-success border border-2 border-dark p-2">
        <p class="mb-0">Thank you for your message! I will contact you back as soon as I can. </p>
    </div>
</div>